<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <title>Mutual Amsic</title>
  </head>
  <body data-spy="scroll" data-target="#navbar" data-offset="57">
    <!-- Header -->
    <nav id="header" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="imagenes/logo_amsic_web.png" alt="Amsic logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#main">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="beneficios">Beneficios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="productos">Productos</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="planes">Planes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="institucional">Institucional</a>
            </li>
            <li class="nav-item">
              <button class="btn btn-afiliarse" href="#" data-toggle="modal" data-target="#modalCompra">Afiliarse</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- /Header -->
   <!-- Modal -->
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Nuevos beneficios AMSIC</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="w-100" src="imagenes/slide_beneficios_1.jpg" alt="Amsic 4">
      </div>
    </div>
  </div>
</div><!-- fin modal-->
   
    <!-- Main -->
    <main id="main" class="mb-4">
      <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="imagenes/familia.jpg" alt="Amsic 1">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="imagenes/pareja.jpg" alt="Amsic 2">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="imagenes/asistencia.jpg" alt="Amsic 3">
          </div>
         
          <div class="overlay">
            <div class="container">
              <div class="row text-main align-items-center">
                <div class="col-md-7 offset-md-5 text-center text-md-right">
                  <h1>Mas de 10.000 afiliados en toda la provincia y servicios en todo el país</h1>
                  <p class="d-none d-md-block">
                    Una mutual pensada para brindar la mejor atención y servicio a toda la familia. Ven a conocer los beneficios que Amsic tiene para usted.
                  </p>
                  <a href="#contacto_info" class="btn btn-outline-light">Quiero información</a>
                  <button type="button" class="btn btn-afiliarse" data-toggle="modal" data-target="#modalCompra">Afiliarse</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- /Main -->

    {% if fueEnviado %}
    {% if fueEnviado=='no' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <div class="text-center"><strong>Error al enviar solicitud</strong> Comuniquese telefonicamente al (379) 447-0186</div>
    {% else %}  
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <div class="text-center"><strong class="text-center">Solicitud enviada correctamente.</strong> Será contactado/a por un representante.</div>
    {% endif %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}

    <!-- Beneficios -->
    <section id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col text-center text-uppercase">
            <small>Conoce los</small>
            <h2 class="title-seccion">Beneficios</h2>
          </div>
          <div class="row d-flex justify-content-center">
            <!--Salud-->
            <div class="col-9 col-md-4 col-lg-4 mb-4">
              <div class="item-box-blog">
                <div class="item-box-blog-image">
                  <!--Titulo-->
                  <div class="item-box-blog-date bg-blue-ui white"> 
                    <span class="mon">Salud
                    </span> 
                  </div>
                  <!--Imagen-->
                  <figure> 
                    <img alt="" src="imagenes/farmacia.jpg"> 
                  </figure>
                </div>
                <div class="item-box-blog-body">
                  <!--Descripcion-->
                  <div class="item-box-blog-heading">
                    <a href="#" tabindex="0">
                      <h5>Farmacia, asistencia médica y amplia cobertura de salud</h5>
                    </a>
                  </div>
                  <!--Info-->
                  <div class="item-box-blog-data" style="padding: px 15px;">
                    <p>Servicio de Emergencias médicas,Policonsultorios, Beneficios en Farmacia y  Opticas</p>
                  </div>
                  <!--Boton info-->
                  <a type="button" class="btn btn-link" href="beneficios">+Info</a>
                </div>
              </div>
            </div>
            <!--Servicios-->
            <div class="col-9 col-md-4 col-lg-4 mb-4">
              <div class="item-box-blog">
                <div class="item-box-blog-image">
                  <!--Titulo-->
                  <div class="item-box-blog-date bg-blue-ui white"> 
                    <span class="mon">Servicios
                    </span> 
                  </div>
                  <!--Imagen-->
                  <figure> <img alt="" src="imagenes/juridico.jpg"> </figure>
                </div>
                <div class="item-box-blog-body">
                  <!--Descripcion-->
                  <div class="item-box-blog-heading">
                    <a href="#" tabindex="0">
                      <h5>Asesoramiento jurídico y servicios en general</h5>
                    </a>
                  </div>
                  <!--Info-->
                  <div class="item-box-blog-data" style="padding: px 15px;">
                    <p>Seguros, Mecánica, Reparaciones de PC y del hogar, Jurídico, Sepelios, y mucho más.</p>
                  </div>
                  <!--Boton info-->
                  <a type="button" class="btn btn-link" href="beneficios">+Info</a>
                </div>
              </div>
            </div>
            <!--Financiero-->
            <div class="col-9 col-md-4 col-lg-4 mb-4">
              <div class="item-box-blog">
                <div class="item-box-blog-image">
                  <!--Titulo-->
                  <div class="item-box-blog-date bg-blue-ui white"> 
                    <span class="mon">Financiero
                    </span> 
                  </div>
                  <!--Imagen-->
                  <figure> <img alt="" src="imagenes/prestamo.jpg"> </figure>
                </div>
                <div class="item-box-blog-body">
                  <!--Descripcion-->
                  <div class="item-box-blog-heading">
                    <a href="#" tabindex="0">
                      <h5>Préstamos y ayuda económica financiera</h5>
                    </a>
                  </div>
                  <!--Info-->
                  <div class="item-box-blog-data" style="padding: px 15px;">
                    <p>Préstamos, ayuda económica, cancelación de deuda, financiamiento de compra.</p>
                  </div>
                  <!--Boton info-->
                  <a type="button" class="btn btn-link" href="beneficios">+Info</a>
                </div>
              </div>
            </div>
            <!--Comerciales-->
            <div class="col-9 col-md-4 col-lg-4 mb-4">
              <div class="item-box-blog">
                <div class="item-box-blog-image">
                  <!--Titulo-->
                  <div class="item-box-blog-date bg-blue-ui white"> 
                    <span class="mon">Comerciales
                    </span> 
                  </div>
                  <!--Imagen-->
                  <figure> <img alt="" src="imagenes/supermercado.jpg"> </figure>
                </div>
                <div class="item-box-blog-body">
                  <!--Descripcion-->
                  <div class="item-box-blog-heading">
                    <a href="#" tabindex="0">
                      <h5>Descuentos, promociones y órdenes de compras</h5>
                    </a>
                  </div>
                  <!--Info-->
                  <div class="item-box-blog-data" style="padding: px 15px;">
                    <p>Artículos del Hogar, Muebles, Zapaterías, Supermercados, Carniceria, Ferreteria y más.</p>
                  </div>
                  <!--Boton info-->
                  <a type="button" class="btn btn-link" href="beneficios">+Info</a>
                </div>
              </div> 
            </div>
            <!-- Turismo-->
            <div class="col-9 col-md-4 col-lg-4 mb-4">
              <div class="item-box-blog">
                <div class="item-box-blog-image">
                  <!--Titulo-->
                  <div class="item-box-blog-date bg-blue-ui white"> 
                    <span class="mon">Turismo
                    </span> 
                  </div>
                  <!--Imagen-->
                  <figure> <img alt="" src="imagenes/turismo.jpg"> </figure>
                </div>
                <div class="item-box-blog-body">
                  <!--Descripcion-->
                  <div class="item-box-blog-heading">
                    <a href="#" tabindex="0">
                      <h5>Asesoramiento en paquetes turísticos y Descuentos</h5>
                    </a>
                  </div>
                  <!--Info-->
                  <div class="item-box-blog-data" style="padding: px 15px;">
                    <p>Alojamiento all inclusive, Actividades y Excursiones a Parques Nacionales.</p>
                  </div>
                  <!--Boton info-->
                  <a type="button" class="btn btn-link" href="beneficios">+Info</a>
                </div>
              </div> 
            </div>
            <!--Sociales-->
            <div class="col-9 col-md-4 col-lg-4 mb-4">
              <div class="item-box-blog">
                <div class="item-box-blog-image">
                  <!--Titulo-->
                  <div class="item-box-blog-date bg-blue-ui white"> 
                    <span class="mon">Sociales
                    </span> 
                  </div>
                  <!--Imagen-->
                  <figure> <img alt="" src="imagenes/eventos.jpg"> </figure>
                </div>
                <div class="item-box-blog-body">
                  <!--Descripcion-->
                  <div class="item-box-blog-heading">
                    <a href="#" tabindex="0">
                      <h5>Servicios para fiestas y eventos sociales</h5>
                    </a>
                  </div>
                  <!--Info-->
                  <div class="item-box-blog-data" style="padding: px 15px;">
                    <p>Salón de fiestas, servicio de catering, fotos, filmaciones, animaciones, y mucho más.</p>
                  </div>
                  <!--Boton info-->
                  <a type="button" class="btn btn-link" href="beneficios">+Info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--  <div class="col mb-4" id="lateral">
              <div class="card">
                <img class="card-lateral" src="imagenes/afiliarse.jpg" alt="afiliarse">
                <div class="card-body-lateral">
                  <p class="card-text">
                    <a type="button" class="btn btn-lateral" href="#" data-toggle="modal" data-target="#modalCompra">Afiliarse</a>
                  </p>
                </div>
              </div>
              <div class="card">
                <img class="card-lateral" src="imagenes/beneficios.jpg" alt="beneficios">
                <div class="card-body-lateral">
                  <p class="card-text">
                    <a type="button" class="btn btn-lateral" href="beneficios.html">Beneficios</a>
                  </p>
                </div>
              </div>
              <div class="card">
                <img class="card-lateral" src="imagenes/contacto.jpg" alt="contactos">
                <div class="card-body-lateral">
                  <p class="card-text">
                    <a type="button" class="btn btn-lateral" href="#contacto_info">Contactanos</a>
                  </p>
                </div>
              </div>
            </div> 


          </div>
        </div>-->

      </div>
    </section>
    <!-- /Beneficios -->

    <!-- Planes -->
    <section id="planes">
      <div class="container">
        <div class="row">
          <div class="col text-center text-uppercase">
            <small>Conoce los</small>
            <h2 class="title-seccion">Planes</h2>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-6 col-lg-4 align-items-center">
            <div class="card">
              <img class="card-img-top" src="imagenes/individual.jpg" alt="Foto de Sacha">
              <div class="card-body">
                <h5 class="card-title">Plan individual</h5>
                <p class="card-text">Te brindamos la opcion que mejor se adapta a tus necesidades. Acercate a las delegaciones y te informamos acerca de los diferentes canales de atención y beneficios exclusivos para vos. </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="imagenes/plan_familia.jpg" alt="Foto de Sacha">
              <div class="card-body">
                <h5 class="card-title">Plan Familiar</h5>
                <p class="card-text">Sabemos lo importante que es para nuestros afiliados contar con servicios de salud, financiera y social. Un plan ideado para el grupo familiar pensado para tu bienestar y el de tu familia.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- /Planes -->

    <!-- Institucional -->
    <section id="institucional" class="institucional">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-6 pl-0 pr-0">
            <img src="imagenes/asesoramiento.jpg" alt="Honolulu" />
          </div>
          <div class="col-12 col-lg-6 pt-4 pb-4">
            <h2>Asociación Mutual de las Siete Corrientes</h2>
            <h4><span id="bg-inicio" class="badge badge-secondary">Desde 1982</span></h4>

            <p>
              Somos proveedores de servicios por excelencia, creada para el bienestar de sus afiliados. Que formes parte para nosotros es una gran responsabilidad por eso tenemos una eficiente organización administrativa para darte siempre una respuesta.  
              
            </p>
            <a class="btn btn-outline-light" href="institucional">Conoce más</a>
          </div>
        </div>
      </div>
    </section>
    <!-- /Institucional -->

    <!-- Formulario -->
    <section id="contacto_info">
      <div class="container">
        <div class="row">
          <div class="col text-uppercase text-center">
            <small>Conviértete en </small>
            <h2 class="title-seccion">afiliado de Amsic</h2>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            Envianos tus datos para solicitud de afiliación.
            Nos comunicamos a la brevedad!
          </div>
        </div>
        <div class="row">
          <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 pt-2 pb-4">
            <form action="/email" method="post">
              <div class="form-row">
                <div class="form-group col-12 col-md-6">
                  <input type="text" class="form-control" id="nombreInput" name="nombreInput" placeholder="Nombre">
                </div>
                <div class="form-group col-12 col-md-6">
                  <input type="text" class="form-control" id="apellidoInput" name="apellidoInput" placeholder="Apellido">
                </div>
                <div class="form-group col-12">

                  <input type="email" class="form-control" id="emailInput" name="emailInput" placeholder="nombre@gmail.com">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <textarea name="messageText" class="form-control form-control-lg" placeholder="¿Qué plan deseas contratar?"></textarea>
                  <small class="form-text text-muted">
                    Recuerda incluir un número de teléfono para que podamos comunicarnos con usted.
                  </small>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <button type="submit" class="btn btn-afiliarse btn-block">Enviar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- /Formulario-->

    <!--Contacto-->
    <section id="contacto" class="contact">
      <div class="container">
        <div class="FooterContainer-up">
          <div class="row">
            <div class="col-lg-6">
              <figure>
                <img loading="lazy" src="imagenes/logo.png" alt="Amsic"/>
              </figure>
              <p>
                <span>Somos proveedores de servicio por excelencia, comprendemos las necesidades de nuestros afiliados y brindamos la mejor atención que se merecen.</span>
              </p>
              <div class="SocialLayout">
                <span>Síguenos en nuestras redes:</span>
                <div class="sociales row col-lg-12">
                  <a href="https://www.facebook.com/MUTUALAMSIC/" class="SocialItem" target="_blank" rel="noreferrer">
                    <span class="icon-fb"></span>
                  </a>
                  <a href="https://www.instagram.com" class="SocialItem" target="_blank" rel="noreferrer">
                    <span class="icon-ig"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="CategoriesSection d-none d-md-none d-md-block">
                <div href="beneficios" class="Category" style="border-left:solid 3px #33b13a">
                  <a href="beneficios">Salud</a>
                  <div class="Arrow"></div>
                </div>
                <div href="beneficios" class="Category" style="border-left:solid 3px #6b407e">
                  <a href="beneficios">Servicios</a>
                  <div class="Arrow"></div>
                </div>
                <div href="beneficios" class="Category" style="border-left:solid 3px #29b8e8">
                  <a href="beneficios">Financiero</a>
                  <div class="Arrow"></div>
                </div>
                <div href="beneficios" class="Category" style="border-left:solid 3px #f5c443">
                  <a href="beneficios">Comercial</a>
                  <div class="Arrow"></div>
                </div>
                <div href="beneficios" class="Category" style="border-left:solid 3px #98ca3f">
                  <a href="beneficios">Turismo</a>
                  <div class="Arrow">

                  </div>
                </div>
                <div href="beneficios" class="Category" style="border-left:solid 3px #fa7800">
                  <a href="beneficios">Social</a>
                  <div class="Arrow">

                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="CertifiersLayout"><p>Delegación Corrientes</p>
                <div> 
                  <span class="icon-mapa contacto-footer"></span><span>La Rioja 475</span>
                  <span class="icon-tel contacto-footer"></span><span>(379) 447-0186</span>
                  <span class="icon-mail contacto-footer"></span><span>amsic2014@hotmail.com</span>
                </div>
              </div>
              <div class="CertifiersLayout">
                <p>Delegación Mercedes</p>
                <div> 
                  <span class="icon-mapa contacto-footer"></span><span>Rivadavia 647</span>
                  <span class="icon-tel contacto-footer"></span><span>(3773) 409081</span>
                  <span class="icon-mail contacto-footer"></span><span>amsic2014@hotmail.com</span>
                </div>
              </div>
              <div class="CertifiersLayout">
                <p>Delegación Curuzú Cuatiá</p>
                <div> 
                  <span class="icon-mapa contacto-footer"></span><span>Caá Guazú 1431</span>
                  <span class="icon-tel contacto-footer"></span><span>(3774) 630794</span>
                  <span class="icon-mail contacto-footer"></span><span>amsic2014@hotmail.com</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Contacto-->

    <!-- Footer -->
    <footer id="footer" class="pb-4 pt-4">
      <div class="container">
        <div class="row text-md-right">
          <div class="col-12 col-lg">
            <p>
              Diseñado con ❤️ by 
              <a href="https://www.instagram.com/viu_estudio">@viu_estudio</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->

    <!-- Modal -->
    <div class="modal fade" id="modalCompra" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Solicitud de Afiliación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/email" method="post">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Nombre y Apellido:</label>
                <input type="text" class="form-control" id="recipientName" name="recipientName">
                <label for="recipient-name" class="col-form-label">Telefono:</label>
                <input type="text" class="form-control" id="recipientTel" name="recipientTel"></div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Mensaje:</label>
                  <textarea class="form-control" id="messageText" name="messageText"></textarea>
                  <small class="form-text text-muted">
                            Recuerda incluir un número de telefono real para que podamos comunicarnos con usted.
                  </small>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary btn-afiliarse">Enviar</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
     
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="index.js"></script>
    <script type="text/javascript">
      $('#myModal').modal('show');
  </script>
  </body>
</html>
