 <!-- Header -->
 <nav id="header" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="imagenes/logo.png" alt="Amsic logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#main">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#beneficios">Beneficios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#planes">Planes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#institucional">Institucional</a>
              </li>
              <li class="nav-item">
                <button class="btn btn-afiliarse" href="#" data-toggle="modal" data-target="#modalCompra">Afiliarse</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- /Header -->