
@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?bqb2fe');
  src:  url('/fonts/icomoon.eot?bqb2fe#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?bqb2fe') format('truetype'),
    url('/fonts/icomoon.woff?bqb2fe') format('woff'),
    url('/fonts/icomoon.svg?bqb2fe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fb:before {
    content: "\ea90";
}

.icon-mail:before {
    content: "\ea86";
}

.icon-ig:before {
    content: "\ea92";
}
.icon-tel:before {
    content: "\e942";
}

.icon-mapa:before {
    content: "\e947";
}

.contact
{
	background: #E6E6E6;
	color: white;
}
.social {
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}


#img-farmalife
{
  width: 50px;
  height: 100%;

}

.afiliarse 
{
	color: #FF8B1F !important;
}
.card-text .beneficios
{
	color: #FF8B1F !important;
}
.card-body h6
{
  color:#17a2b8;
}

.btn-afiliarse {
  background-color: #FF8B1F !important;
  color: white;
}
.btn-afiliarse:hover {
  background-color: #D16500;
  color: white;
}
.btn-info {
  background-color: #2c97fb;
  color: white;
}
.btn-inof:hover {
  background-color: #2c97fb;
  color: white;
}

#header img
{
	width: 220px;
}
#main .carousel-inner img {
  max-height: 85vh;
  object-fit: cover;
  filter: grayscale(2%);
}
#carousel {
  position: relative;
}
#carousel .overlay .text-main
{
	margin-top: 100px;
}

#beneficios-slide img{ 
  margin-top: 100px;
}
#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}
#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}


.overlay p
{
	font-size: 1.2em;
}
.institucional {
  background-color: #1c3643;
  /*,#273b47 25%,#1e5372);*/
  /*#1e5372;*/
  color: white;

}

#institucional img {
  max-width: 100%;
}

#footer {
	height: 80px;
  background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
}

#footer a {
  color: white;
  font-style: bold;
}

#footer p {
  color: white;
}
/*@media only screen and (max-width: 480px)  {
      h1 {
          font-size: 1em;
      }
}*/




.cta-100 {
  margin-top: 100px;
  padding-left: 8%;
  padding-top: 7%;
}
.col-md-4{
    padding-bottom:20px;
}

.white {
  color: #fff !important;
}
.mt{float: left;margin-top: -20px;padding-top: 20px;}
.bg-blue-ui {
  background-color: #FF8B1F !important;
}
figure img{width:300px;}

#blogCarousel {
  padding-bottom: 100px;
}

.blog .carousel-indicators {
  left: 0;
  top: -50px;
  height: 50%;
}


/* Indicadores de carousel beneficios */

.blog .carousel-indicators li {
  background: #708198;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.blog .carousel-indicators .active {
  background: #FF8B1F;
}

.row.blog
{
	height: 50vh;
}
/**/

/* Lateral*/




.title-seccion
{
	color: #2c97fb;

}

.badge-beneficios
{
	background: gray;
	color: white;
}

#bg-inicio{
    color: #fff;
    background-color: #FF8B1F;
}

.badge-precio{
  background-color: #FF8B1F;
  color: #fff;
  margin-left: .5em;  
  margin-bottom: .5em;
  
  
}

.item-carousel-blog-block {
  outline: medium none;
  padding: 15px;
}

.item-box-blog {
  border: 1px solid #dadada;
  text-align: center;
  z-index: 4;
  padding: 20px;
  height: 100%;
}

.item-box-blog-image {
  position: relative;
}

.item-box-blog-image figure img {
  width: 100%;
  height: auto;
}

.item-box-blog-date {
  position: absolute;
  z-index: 5;
  padding: 4px 20px;
  top: -20px;
  right: 8px;
  background-color: #41cb52;
}

.item-box-blog-date span {
  color: #fff;
  display: block;
  text-align: center;
  line-height: 1.2;
}


.item-box-blog-date span.mon {
  font-size: 18px;
}

.item-box-blog-date span.day {
  font-size: 16px;
}

.item-box-blog-body {
  padding: 10px;
}

.item-heading-blog a h5 {
  margin: 0;
  line-height: 1;
  text-decoration:none;
  transition: color 0.3s;
}

.item-box-blog-heading a {
    text-decoration: none;
}

.item-box-blog-data p {
  font-size: 13px;
}

.item-box-blog-data p i {
  font-size: 12px;
}

.item-box-blog-text {
  max-height: 100px;
  overflow: hidden;
}

.mt-10 {
  float: left;
  margin-top: -10px;
  padding-top: 10px;
}

.btn.bg-blue-ui.white.read {
  cursor: pointer;
  padding: 4px 20px;
  float: left;
  margin-top: 10px;
}

.btn.bg-blue-ui.white.read:hover {
  box-shadow: 0px 5px 15px inset #4d5f77;
}
.card-lateral
{
	width: 100%;
}
.card-body-lateral
{
	background: #2c97fb;
	color: white;
	padding: 5px;
	text-align: center;
	
}
.btn-lateral
{
	color: white;
	background: transparent;
	text-transform: uppercase;
	width: 100%;
	height: 100%;
}

#planes
{
	margin-bottom: 100px;
}

.FooterContainer-up {
    
    padding-top: 1em;
    color: #1c3643;
}
.FooterContainer-up img
{
	width: 80px;
}

/*@media only screen and (min-width:48em) {
    .FooterContainer-up {
        padding-left: 1em
    }
}

@media only screen and (min-width:75em) {
    .FooterContainer-up {
        padding-left: 0
    }
}*/


.SocialItem {
    color: #1c3643;
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 15px;
    font-weight: bold;
}

.SocialLayout {
   
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    -o-box-pack: distribute;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
    margin-bottom: 1em
}

.SocialLayout .SocialItem span {
    font-size: 20px
}

/*@media only screen and (min-width:48em) {
    .SocialLayout {
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -o-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between
    }
}*/

.SocialLayout span {
    padding: 1em 0;
    width: 100%;
    font-size: 14px
}

.icon-fcbk-square:before {
    content: "\icon-fe976"
}



/*@media only screen and (min-width:48em) {
    .CategoriesSection {
        margin: 0;
        padding: 0 1em;
        background: none
    }
}*/

.CategoriesSection .Category {
    margin: 1em 0;
    padding-left: .5em;
    font-size: 14px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

.CategoriesSection .Category a {
    width: 100%;
    color: #1c3643;
    text-decoration: none
}

.CertifiersLayout {
    grid-column: 5/7;
    color: #1c3643;
    padding: 1em;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-line-pack: baseline;
    -webkit-align-content: baseline;
    align-content: baseline
}
.CertifiersLayout p
{
	color: #FF8B1F;
	font-weight: 1.5emf;
}

/*@media only screen and (min-width:48em) {
    .CertifiersLayout {
        -webkit-box-pack: start;
        -moz-box-pack: start;
        -o-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: start;
        justify-content: start
    }
}*/

.CertifiersLayout span {
    width: 100%;
    padding-bottom: 1em;
    font-size: 14px;
    text-align: center
}

/*@media only screen and (min-width:48em) {
    .CertifiersLayout span {
        text-align: left
   */ }
}

.CertifiersLayout .Certifier {
    padding-right: 1em
}

.AwardsLayout {
    grid-column: 5/7;
    color: #fff;
    padding: 1em;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: baseline;
    -webkit-align-content: baseline;
    align-content: baseline
}

/*@media only screen and (min-width:48em) {
    .AwardsLayout {
        -webkit-box-pack: start;
        -moz-box-pack: start;
        -o-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: start;
        justify-content: start;
        padding-top: 0
    }
}*/

.AwardsLayout span {
    width: 100%;
    padding-bottom: 1em;
    font-size: 14px;
    text-align: center
}

/*@media only screen and (min-width:48em) {
    .AwardsLayout span {
        text-align: left
    }
}*/

.AwardsLayout .Award {
    padding-right: 1em
}

.contacto-footer
{
	padding-right: 10px;
	padding-left: 10px;
}

#modalCompra
{
	color: #1c3643;
}

/*@media (min-width: 768px)
.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}*/



/* desktop first que empieces desde el MQ más grande */

@media screen and (max-width: 1023px) {
  .event-list-title {
    margin-left: 0;
  }
  .portfolio {
    padding: 0;
  }
  /*.container {
    padding: 0 1em;
  }*/
  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  .hero-image {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  h1 {
    font-size: 2em;
    z-index: 2;
  }
  #carousel .overlay .container, #carousel .overlay .row
  {
    height: 80%;
  }
  .item-box-blog-date span.mon {
    font-size: 1em;
  }
  .item-box-blog-heading h5
  {
  	font-size: 1em;
  }

}

.html-video {
  width: 100%;
  height: auto;
  /* max-width: 100%; */
}

.youtube-video {
  /* width: 100%; */
  /* height: auto; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flexible-video {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  background: blue;
  position: relative;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 1.2em;
    margin: .5em 0;
  }
  .burger-button {
    display: block;
  }
  .header {
    display: block;
    height: auto;
  }
  .header ol {
    display: block;
  }
  .header ol li {
    height: 50px;
  }
  .header a {
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: .5em;
  }
  .header .logo {
    text-align: center;
  }

  .menu {
    position: fixed;
    background: rgba(5, 111, 255, .9);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    /* height: 100vh; */
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }
  .menu.is-active {
    left: 0;
  }

  .project {
    display: block;
  }
  .project-imageContainer {
    width: auto;
    text-align: center;
  }
  .project-details {
    width: auto;
    /* font-size: 10px; */
  }
  .project-course, .project-date, .project-url { 
    margin: .3em 0;
  }
  .project-title {
    font-size: 1.5em;
    margin-bottom: .3em;
  }
  .project-url {
    font-size: 1em;

  }
  .project-course {
    font-size: .7em;

  }
  .project-date {
    font-size: 1em;

  }
  .project-description {
    font-size: 1em;

  }

  .event {
    width: auto;
    flex-shrink: initial;
  }

  .event img {
    width: 100%;
  }
  .SocialLayout
  { 
    text-align: center;
  }
  .sociales
  {
    justify-content: center;
  }
  #footer .container{
    text-align: right;
  }
}

@media screen and (max-width: 480px) {
	body
	{
		width: 100%;

	}
  h1 {
    font-size: 1.5em;
  }
  .project-details {
    font-size: 14px;
  }

  .event-detail {
    /* 1em = 16px */
    margin: -2em .5em .5em;
    padding: 1em;
  }

  .contact {
    height: auto;
    padding: 1.5em 0;
    text-align: center;
    display: block;
  }
  .form-email button {
    margin: 1em auto;
  }
  .form-email h3 {
    margin-top: 0;
  }
  .footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
  .social-link {
    width: 40px;
    height: 40px;
    background-size: 100%;
  }
  #carousel .overlay .container, #carousel .overlay .row 
  {
    height: 70%;

	}	

 #carousel h1
 {
 	font-size: 1.2em;
 }
 .SocialLayout
 {
  justify-content: center;
 }
}


@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.2em;
    /* background: rgba(0,0,0,.5) */
  }
  .hero {
    padding: 2em 1em;
  }
  .sociales
  {
    justify-content: center;
  }
}

.card-institucional 
{
  border: none;
  
}
/*Carousel beneficios*/
.subtitulo
{
  font-size: smaller;
  font-weight: bold;
  color: darkslategray;
}
.subtitulo a
{
  font-size: xx-small;
}

.card-img-farmalife
{
  width: 50%;
}

/*off*/
.center {
  height: 50%;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  text-align: center;
}

.circle {
  position: relative;
  width: 200px;
  height: 140px;
  /*color: #fff;
  background: #000;*/
  /*border-radius: 50%;
  border: 2px solid;*/
}

.logo {
  font-size: 15px;
  line-height: 30px;
  vertical-align: middle;
  font-weight: bold;
}

.button {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  padding: 8px;
  font-weight: bold;
  text-transform: uppercase;
  background: #FF8B1F;
  border: 2px solid;
  animation: slide 2s ease-in-out infinite;
  cursor: pointer;
  color: white;
  font-size: 12px;
}

.button:hover {
  color: #000;
  background: #fff;
  border-color: #fff;
}

@keyframes slide {
  0% {
    transform: translateX(5px)
  }
  50% {
    transform: translateX(-5px)
  }
  100% {
    transform: translateX(5px)
  }
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  /*animation: rotate 14s linear infinite;
  fill: #fff;*/
}

@keyframes rotate {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}