body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*off*/
.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  /*color: #fff;
  background: #000;*/
  /*border-radius: 50%;
  border: 2px solid;*/
}

.logo {
  font-size: 30px;
  line-height: 200px;
  vertical-align: middle;
}

.button {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  padding: 8px;
  font-weight: bold;
  text-transform: uppercase;
  background: #000;
  border: 2px solid;
  animation: slide 2s ease-in-out infinite;
  cursor: pointer;
  color: white;
}

.button:hover {
  color: #000;
  background: #fff;
  border-color: #fff;
}

@keyframes slide {
  0% {
    transform: translateX(5px)
  }
  50% {
    transform: translateX(-5px)
  }
  100% {
    transform: translateX(5px)
  }
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  animation: rotate 14s linear infinite;
  fill: #fff;
}

@keyframes rotate {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}